@{
    ViewBag.Title = "Serice Charge";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Service Charge
        <small>Disk and Rotary</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Service Charge</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- /.box-header -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Disk and Rotary</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Month:</label>

                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input class="form-control" id="datepicker" type="text" autocomplete="off">
                            </div>
                        
                        </div>
                        <!-- /.form-group -->
                        
                    </div>
                    <!-- /.col -->
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <div class="box-footer">
                <div class="input-group date">
                    <button type="button" class="btn btn-primary">Search</button>
                    <!-- /.form-group -->

                </div>

                <!-- /.input group -->
            </div>
            <!-- /.box-body -->
            <div class="box-header with-border">
                <h3 class="box-title">Disk and Rotary Information</h3>
            </div>
            <div class="box-body">
                <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                    <li class="active"><a href="#inbound" data-toggle="tab">Inbound</a></li>
                    <li><a href="#outbound" data-toggle="tab">Outbound</a></li>
                    <li><a href="#inventort" data-toggle="tab">Inventory</a></li>

                </ul>
                <div id="my-tab-content" class="tab-content">
                    <div class="tab-pane active" id="inbound">
                        <h1>Inbound</h1>
                        <p>inbound inbound inbound inbound</p>
                    </div>
                    <div class="tab-pane" id="outbound">
                        <h1>Outbound</h1>
                        <p>outbound outbound outbound</p>
                    </div>
                    <div class="tab-pane" id="inventort">
                        <h1>Inventort</h1>
                        <p>inventort inventort inventort inventort</p>
                    </div>
                </div>
                </div>
            <div class="box-footer">
                Visit <a href="https://select2.github.io/">Select2 documentation</a> for more examples and information about the plugin.
            </div>
</form>
         

        </div>
            <!-- /.box -->
</section>
