@{
    ViewBag.Title = "Serice Charge";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Extra Charge
        <small>Other</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Extra Charge</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- /.box-header -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Other</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group form-inline">
                            <label>Month:</label>

                            <div class="input-group date form-inline">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input class="form-control" id="datepicker" type="text" autocomplete="off">
                                

                            </div>
                            
                            <!-- /.col -->
                            <!-- /.col -->
                        </div>
                     </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.box-body -->
        </form>
        <div class="box-footer">
            <div class="input-group date form-inline">
                <button type="button" class="btn btn-primary">Search</button>

            </div>
        </div>

    </div>
    <!-- /.box -->
</section>
